    <!-- ---- NavBar --- Start ----- -->
    <section class="NavBar">
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <div class="logo">

        </div>
        <nav>
            <ul>
                <li class="list-items"></li>
                <li class="list-items"></li>
                <li class="list-items"></li>
            </ul>
        </nav>
    </section>
    <!-- ---- NavBar ---- End ----- -->